/* GENERAL */
ul *{
    list-style: none;
    display: inline-block;
}


/* HEADER */
header .container-sm .row .col{
    text-align: end;
}

.col-8{
    background-color: aqua;
}

/* MAIN */
main .main-top{
    text-align: center;
}

main .portfolio h2{
    text-align: center;
}

main .about div{
   text-align: center;
}

main .about .container-sm > div:last-of-type{
    padding: 20px;
}

main .contact-me div:not(:last-of-type){
    border-bottom: 1px solid black;
}

main .contact-me div:last-of-type{
    margin-top: 30px;
    margin-bottom: 30px;
}


main .contact-me div a{
    padding: 10px 10px;
    background-color: green;
    color: white;
    border-radius: 18px;
}

/* FOOTER */

footer div{
    text-align: center;
}



/* RESPONSIVE */
@media screen and (min-width: 557px) {
    
}



/* DEBUG */

.debug header{
    background-color: black;
    color: white;
}

.debug header .container-sm .col-8{
    background-color: green;
    padding: 20px;
}

.debug header .container-sm .col{
    background-color: blue;
    padding: 20px;
}

.debug main .main-top{
    background-color: aquamarine;
}

.debug main .about{
    background-color: bisque;
}

.debug main .container-sm .col-4, .col-6{
    border: 1px solid red;
}


.debug footer .footer-top{
    background-color: black;
    color: white;
    padding: 30px;
}

.debug footer .container-sm .col{
    border: 1px solid red;
}

.debug footer .footer-bottom{
    background-color: gray;
    color: white;
    padding: 30px;
}

